flask
python-dotenv
aiohttp
requests
openai
google-cloud
torch
transformers>=4.46,<5
huggingface_hub>=0.26,<1.0
sentencepiece
soundfile
pydub
ffmpeg
speechbrain 
gradio
librosa
pandas
langdetect
dateparser 
num2words
numpy
openai-whisper
num2words
datasets
roman
unidecode
#TTS
accelerate
pandas
numpy
torch
datasets
transformers
peft
num2words
unidecode
babel
evaluate
openpyxl
wandb
nltk
#!pip install --upgrade --no-cache-dir git+https://github.com/openai/whisper.git
#needs restart
